#  Local .terraform directories
**/.terraform/*
**/w2v_model/
**/saved/
**/runs/
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/

**/resources/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

*.txt
*.csv
task/.idea/*
*.xml
*.zip
*.rar
*.bin
*.vec
*.json
*.xls
*.model
*.gz
*.bz2
*.word
*.pkl
*.tsv
*.neg
*.pos

